p {
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.profiles-container {
  display: flex;
  flex-direction: column;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 337px;
  height: 58px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.user-details-container {
  display: flex;
  flex: 1;
  width: 250px;
  padding-left: 12px;
  padding-right: 12px;
}

.user-details-grid {
  display: inline-block
}

.follow-container {
  display: flex;
  align-items: center;
}

.pfp {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
}

.name {
  font-weight: bold;
  width: 100px;
}

.bio, .remark {
  color: rgb(124, 133, 141);
}

.remark {
  font-size: 13px;
}

.follow-button {
  background-color: rgb(61, 153, 234);
  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  width: 65px;;
  height: 30px;
}

.name, .follow-button:hover {
  cursor: pointer;
}

.follow-button:active {
  background-color: rgb(40, 121, 192);
}

.name:active {
  text-decoration: underline;
}