.flexbox1, .flexbox2, .flexbox3, .flexbox4 {
  display: flex;
  flex-direction: row;
}

.flexbox2, .flexbox3, .flexbox4 {
  margin-top: 30px;
}

.div1, .div3, .div5 {
  background-color: lightblue;
}

.div2, .div4, .div6, .div7, .div8, .div9, .div10, .div11 {
  background-color: lightpink;
}

.div1 {
  width: 200px;
}

.div2, .div5 {
  width: 75px;
}

.div3 {
  width: 50px;
}

.div4 {
  flex: 1;
}

.flexbox3 {
  justify-content: space-between;
  align-items: center;
}

.flexbox4 {
  border: solid;
  border-color: grey;
  border-width: 1px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}