.back {
  padding-top: 7px;
  padding-bottom: 7px;
}

.page1 {
  margin-right: 10px;
  margin-left: 10px;
}

.page2 {
  margin-right: 10px;
}

.page3 {
  margin-right: 10px;
}

.page4 {
  margin-right: 10px;
}

.page5 {
  margin-right: 10px;
}
  
.next {
  padding-top: 7px;
  padding-bottom: 7px;
}
