.stretch {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 150, 0);
  border: none;
  transition: 0.5s;
}

.stretch:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 150, 0);
  border: none;
  transition: 0.5s;
}