  .one { 
    color: rgb(255, 255, 255);
    background-color: rgb(0, 150, 0);
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .one:hover {
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s;
  }

  .two { 
    color: rgb(255, 255, 255);
    background-color: rgb(0, 150, 0);
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .two:hover {
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s;
  }

  .three { 
    color: rgb(255, 255, 255);
    background-color: rgb(0, 150, 0);
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .three:hover {
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s;
  }