p {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.heading {
  font-weight: bold;
  font-size: 45px;
}

.subheading {
  font-size: 18px;
  margin-top: 10px;
}

.subheading-link {
  text-decoration: underline;
}