.cat-card-container {
  display: inline-block;
  width: 200px;
  height: 300px;
  object-position: middle;
  object-fit: cover;
  vertical-align: top;
  box-shadow: 0px 0px 5px 0.7px rgb(184, 184, 184);
  margin-right: 15px;
}

.pfp-container, .cat-details-container {
  display: block;
}

.pfp-container {
  width: 200px;
  height: 200px;
}

.cat-details-container {
  width: 180px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.cat-name, .mutual-friends, .add-friends-button {
  display: block;
}

.cat-name, .mutual-friends:hover, .add-friend-button {
  cursor: pointer;
}

.mutual-friends:hover {
  text-decoration: underline;
}

.cat-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

p {
  font-family: Roboto, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cat-name {
  font-weight: bold;
  margin-top: 4px;
}

.mutual-friends {
  color: rgb(78, 78, 78);
  font-size: 12px;
  margin-top: 4px;
}

.add-friend-button {
  margin-top: 10px;
  background-color: rgb(54, 120, 227);
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.add-friend-button:active {
  background-color: rgb(43, 98, 185);
}


