.flexbox {
  display: flex;
  flex-direction: row;
}

.div1 {
  background-color: lightblue;
}

.div2 {
  background-color: lightpink;
}

.flexbox2 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.div3 {
  width: 100px;
  background-color: lightblue;
}

.div4 {
  flex: 1;
  background-color: lightpink;
}

.flexbox3 {
  margin-top: 20px;
  display: flex;
}

.div5 {
  width: 100px;
  background-color: lightblue;
}

.div6 {
  flex: 1;
  background-color: lightpink;
}

.div7 {
  flex: 2;
  background-color: lightblue;
}

.flexbox4 {
  margin-top: 30px;
  border: solid;
  display: flex;
  flex: row;
  justify-content: center;
}

.div8 , .div10 {
  background-color: lightblue;
}

.div9{
  background-color: lightpink;
}

.div8, .div9, .div10 {
  width: 100px;
  height: 100px;
}

.flexbox5 {
  margin-top: 30px;
  border: solid;
  display: flex;
  flex: row;
  justify-content:space-around;
  align-items: center;
  height: 100px;
}

.div11 , .div13 {
  background-color: lightblue;
}

.div12 {
  background-color: lightpink;
}

.div11, .div12, .div13 {
  width: 100px;
}